.follow-container {
  max-width: 700px;
  margin: 60px auto;
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.follow-table {
  margin-top: 20px;
}

.follow-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}

.follow-row label {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.follow-row select {
  width: 55%;
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f8f9fa;
}

.note-section {
  margin-top: 20px;
  background: #f1f5f9;
  padding: 10px 15px;
  border-radius: 10px;
  color: #444;
  font-size: 0.9rem;
}

.submit-section {
  text-align: center;
  margin-top: 25px;
}

.submit-btn {
  background: #2563eb;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #1e40af;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .follow-container {
    margin: 0px auto;
  }

  .title-text {
    font-size: 13px !important;
  }
}

.title-text {
  font-size: 18px;
  font-weight: bold;
}

/*  */

.result-container {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.result-card {
  max-width: 750px;
  width: 100%;
  border-radius: 15px;
}

.follow-row label {
  font-size: 16px;
  color: #333;
}

.note-section {
  background: #f8f9fa;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
}

.btn-success {
  background: linear-gradient(90deg, #ff512f, #dd2476);
  border: none;
  transition: all 0.3s ease;
}

.btn-success:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #ff512f, #dd2476);
}

/* --- */
