@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  /* padding: 20px; */
}

.auth-inner {
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 45px 35px 35px 35px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: gray;
  box-shadow: 0 0 4px gray;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: red;
}

.continue-p {
  font-size: 12px;
  color: #b2b2b2;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .auth-inner {
    width: 100%;
    padding: 35px 25px 25px 25px;
    margin: 0 auto;
  }

  .auth-wrapper h3 {
    font-size: 1.5rem;
  }

  .forgot-password,
  .continue-p {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .auth-inner {
    width: 100%;
    padding: 25px 20px 20px 20px;
    margin: 0 auto;
    width: 300px;
  }

  .auth-wrapper h3 {
    font-size: 1.3rem;
  }

  .form-control {
    font-size: 14px;
  }
}
